.products-frame.closed {
    height: 0px;
}

.products-frame {
    backdrop-filter: blur(5px);
    background-color: rgb(238, 240, 241, 0.8);
    position: fixed;
    top: 0;
    display: block;
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: height 1s;
}

.products-list.closed {
    display: none;
}

.products-list {
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 50px;
    width: 70%;
}

.products-list h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration-line: overline underline;
    text-decoration-style: solid;
}


.item-card {
    background-color: aliceblue;
    width: 20em;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 0px;
    font-family: calibri;
    align-items: center;
    border: 1px solid black;
    max-height: 500px;
    min-height: 100%;
}

.card-image {
    object-fit: contain;
    max-width: 70%;
}

.item-btn {
    background-color: green;
    width: 60%;
    font-size: larger;
    color: white;
    height: 40px;
    border: 0px;
}

.item-btn:hover {
    cursor: pointer;
    background-color: darkgreen;
} 

.item-btn[disabled] {
    background-color: grey;
    cursor:not-allowed;
}

.products-navbar {
    max-width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
    font-family: calibri;
    padding-right: 5em;
    padding-left: 5em;
    justify-content:space-around;
    align-items: center;
}

.products-navbar p {
    justify-self: right;
}

.navbar-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.home-page {
    display: flex;
    flex-direction: row;
}

.home-page:hover {
    cursor: pointer;
}

.logo {
    margin: auto 0px auto 0px;
    border-radius: 50%;
    max-width: 4em;
    margin-right: 50px;
}

.cart-container {
    position: relative;
    max-width: 25px;
    justify-self: right;
}

.cart-container img {
    position: relative;
    max-width: 2.5em;
    z-index: 1; 
    
}

.cart-container:hover {
    cursor: pointer;
}

.cart-container h4 {
    position: absolute;
    z-index: 3;
    top: -10px;
    left: 35px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}